[submodule "libs/essentia"]
	path = libs/essentia
	url = https://github.com/MTG/essentia
[submodule "libs/samplerate"]
	path = libs/samplerate
	url = https://github.com/ragnaringi/samplerate
[submodule "libs/taglib"]
	path = libs/taglib
	url = https://github.com/taglib/taglib
