//
//  ESMusicExtractor.xcconfig
//  ESMusicExtractor
//
//  Created by Ragnar Hrafnkelsson on 03/08/2018.
//  Copyright © 2018 Reactify. All rights reserved.
//

// Other Clang warnings that don't have Xcode names
WARNING_CFLAGS = -Wno-undefined-var-template

CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN_INT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO
GCC_WARN_UNDEFINED_VAR_TEMPLATE = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
